    /*Color*/
:root {
    --brand-color: #2F303A;
    --font-color: #F5F4FA;
    --active: #2196F3;
    --black: #000000;
    --favorit: #212121;
    --text: #757575;
    --white: #ffffff;
    --hover-btn: #188CE8;
    --header-border: #ECECEC;
    --icons-svg: #AFB1B8;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--favorit);
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--favorit);
}

        /* container */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid tomato; */
}

        /* section-top */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

        /* HEADER */


.header {
    border-bottom: 1px solid var(--header-border);
    padding-top: 24px;
    padding-bottom: 24px;
}

.main {
    display: flex;
    align-items: center;
}

.main__nav {
    display: flex;
    align-items: center;
}


.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--active);

    margin-right: 93px;
}

.logo--black {
    color: var(--black);
}

.main__list .main__item + .main__item {
    margin-left: 50px;
}

.main__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.main__link {
   
    position: relative;
    padding-top: 32px;
    padding-bottom: 32.2px;
    transition: color 250ms var(--time-function);
}

.main__link--active {
    color: var(--active);
}

.main__link--active::after {
    position:absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;

    background-color: var(--active);
    border-radius: 2px;

    transform: scaleX(0);
    transition: transform 250ms var(--time-function);
}

.main__link--active::after {
    transform: scaleX(1);
}

.main__list--contact {
    margin-left: auto;
    position: relative;
    
}

/* .main__link:hover::after,
.main__link:focus::after, */
.main__link:hover,
.main__link:focus,
.main__link--grey:hover,
.main__link--grey:focus {
    /* transform:scaleX(1); */
    transition: transform 250ms var(--time-function);

    color: var(--active);
    cursor: pointer;
    fill: var(--active);
    
}

.main__link--grey {
    display: flex;
    align-items: center;
    padding: 0;
    color: var(--text);
    fill: var(--text);
    transition: color 250ms var(--time-function);
}

.main__icon {
    margin-right: 10px;
}


        /* SERVICE */


.service {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), 
        url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white);

    margin-bottom: 30px ;
}

        /* BUTTON */

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    font-weight: 700;
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--time-function);
    
}

.button:hover,
.button:focus {
    background-color: var(--hover-btn);
    
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms var(--time-function);

    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    
}

.backdrop.is-hidden .modal {
    transform: translate(-50%,-50%) scale(1,1);
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;

    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    
    transform: translate(-50%,-50%) scale(1);

    transition: transform 250ms var(--time-function);

}

.button__close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 8px;
    margin-right: 8px;
    padding: 6px;

    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    
}

.modal__icons:focus,
.modal__icons:hover {
    fill: var(--active);
}

.modal__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    fill: var(--black);

    background-color: var(--white);
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.form__title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--favorit);
    margin-bottom: 12px;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}

.form__group--textarea {
    margin-bottom: 20px;
}

.form__name {
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--text);
}

.form__input {
    height: 40px;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.form__input:focus {
   border: 1px solid var(--active);
}

.form__comment {
    width: 100%;
    max-height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.form__comment:focus {
    border: 1px solid var(--active);
}

.form__icons {
    position: absolute;
    top: 29px;
    left: 12px;
}

.form__input:focus~.form__icons {
    fill: var(--active);
}

/* checkbox */

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--text);
}

.checkbox__desc>.checkbox__link {
    color: var(--active);
    text-decoration: underline;
}

.checkbox__custom {
    width: 16px;
    height: 15px;
    margin-right: 9px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 2px;
    outline: 2px solid var(--favorit);
    outline-offset: -2px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   
}

.checkbox__input:checked+.checkbox__custom {
    background-color: var(--active);
    outline: 2px solid var(--active);
}

.checkbox__icon {
    fill: var(--white);
    opacity: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked+.checkbox__custom .checkbox__icon {
    opacity: 1;
}


        /* VISUALLY_HIDDEN */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* inform */

.inform__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.inform__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
}

.inform__icons {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #F5F4FA;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.inform__item:last-child {
    margin-right: 0;
}

.inform__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;

}

.inform__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text);
}



        /* SUBTITLE */
.subtitle {
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

        /* PROCESS */

.process {
    padding-top: 0;
}

.process__list {
    display: flex;
    padding: 0;
    margin: 0;
}

.process__item {
    position: relative;
    margin-right: 30px;
    width: 370px;
}

.process__text {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;  

    color: var(--white);
    background-color: rgba(47, 48, 58, 0.8);
}

.process__item:last-child {
    margin-right: 0px;
}

/* team */

.team {
    background-color: var(--font-color);
}

.team__list {
    display: flex;
    padding: 0;
    margin: 0;
}

.team__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;

    text-align: center;
    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__item:last-child {
    margin-right: 0;
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.team__text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--text);

    margin-bottom: 16px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social__item {
    margin-right: 10px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__list {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 0;
    transition: background-color 250ms var(--time-function);
}

.social__list:hover,
.social__list:focus {
    background-color: var(--active);
}
.social__list:hover .social__icon,
.social__list:focus .social__icon {
    fill: var(--white);
}

.social__icon {
    width: 20px;
    height: 20px;
    fill: var(--icons-svg);
}

        /* CUSTOMERS */


.customers__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    padding: 0;
    
}

.customers__item {
    margin-right: 30px;
}

.customers__link {
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-svg);
    border-radius: 4px;

    transition: color 250ms var(--time-function), border-color 250ms var(--time-function);
    fill: var(--icons-svg);
}
.customers__item:last-child {
    margin-right: 0;
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
    fill: var(--active);
}

.customers__link:hover,
.customers__link:focus {
    border-color: var(--active);
}


        /* FOOTER */


.footer {
    padding: 60px 0;
    background-color: var(--brand-color);
}

.footer__wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.footer__about {
    margin-right: 70px;
}


.logo--footer {
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
}

.logo--white {
    color: var(--white);
    margin-right: 0;
    
}

.footer__item:nth-child(-n+2) {
    margin-bottom: 9px;
}

.footer__list {
    padding: 0;
    margin:0;
}

.footer__text {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white);

}

.footer__link {
    font-style: normal;
    line-height: 1.71;
    padding-top: 9px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }


.footer-social {
    margin-right: 93px;
}

.title-social {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);

    margin-bottom: 20px;
}


.social-footer-link {
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-social-icon {
    fill: var(--white);
}

        /* FOOTER-FORM */
.right-side-footer {
    display: flex;
    flex-direction: column;
    
    
}

.rigth-side-form {
    display: flex;
}

.footer-form-input>[placeholder] {
    color:rgba( 33, 150, 243, 0.9);
    
}

.footer-form-input {
    display: inline-block;
    background-color: inherit;
    width: 358px;
    height: 50px;  
    padding: 15px;
    padding-left: 16px;
    margin-right: 12px; 

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: rgba(255, 255, 255, 0.6);
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 4px;
}

        /* BUTTON--FOOTER */

.button--footer.button {
    position: relative;
    padding-right: 62px;
    padding-left: 28px;
}

.button__icon {
    position: absolute;
    right: 28px;
    bottom: 13px;
}


                    /* PORTFOLIO */

    /* main-header */
.portfolio-control {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.control-item {
    margin-right: 8px;
}

.portfolio-control:last-child {
    margin-right: 0;
}

.control-btn {
    display: block;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;   

    background-color: var(--font-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--favorit);
    transition: color 250ms var(--time-function), background-color 250ms var(--time-function), box-shadow 250ms var(--time-function);
}

.control-btn.active {
    background-color: var(--hover-btn);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white);
}

.control-btn:hover,
.control-btn:focus {
    background-color: var(--hover-btn);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white);
}

/* content */

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.content-item {
    display: block;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--white);
    border: 1px solid #EEEEEE;
}

.content-item:nth-child(3n) {
    margin-right: 0;
}

.content-item:nth-child(n + 7) {
    margin-bottom: 0;
}

.content-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.content-link {
    display: block;
    margin: 0;
    padding: 0;
}

.content-link:hover,
.content-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-link:hover .content-overlay,
.content-link:focus .content-overlay {
    transform: translateY(0);
    opacity: 1;
}

.content-wrap {
    padding: 20px 24px;
}

.content-tumb {
    position: relative;
    overflow: hidden;
}

.content-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    background-color: rgba( 33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-overlay {
    display: block;
    padding: 63px 24px;

    color: var(--white);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
}

.content-title {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--favorit);

}

.content-text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text);
}

