    /* BUTTON */

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

    font-weight: 700;
    color: var(--white);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    background-color: var(--active);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms var(--time-function);
    
    &:hover,
    &:focus {
        background-color: var(--hover-btn);
    }

}

